@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.channels {
  &__badge {
    margin: 0px 0px rem(25) 0px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: rem(20) 0px 0px 0px;
    // gap: rem(15);

    >* {
      flex: 1 1 auto;
      border-radius: 20px;
      display: block;

      &:not(:last-child) {
        margin-bottom: rem(15);
      }

      &:last-child {
        margin: 0px 0px rem(15) 0px;
      }
    }
  }
}