@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.sameChannels {
  margin-bottom: rem(30);

  &__title {
    margin-bottom: rem(10);
  }

  &__swiper {}

  &__slide {
    max-width: rem(215);
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: rem(10);
    text-align: start;
    padding: rem(16) rem(20);
    background-color: #1B203D;
    border-radius: rem(20);
  }

  &__image {
    flex: 0 0 rem(45);
    height: rem(45);
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__content {}

  &__subtitle {
    color: #EFF0F7;
    font-weight: 700;
    font-size: rem(13);
    line-height: math.div(20, 13);

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__subscribers {
    display: inline-flex;
    align-items: center;
    color: #EFF0F7;
    font-size: rem(13);
    line-height: math.div(20, 13);
    gap: rem(4);
  }
}