@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.mainTitle {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5;
  color: #A0A3BD;
  margin: 0 auto rem(30);
  text-align: center;
  // display: none;
}

.location {
  margin-bottom: rem(30);

  &__body {
    background-color: #1B203D;
    padding: rem(10) rem(25) rem(20);
    border-radius: rem(20);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__title {
    font-size: rem(17);
    line-height: math.div(25, 17);
    color: #FCFCFC;
    margin-bottom: rem(10);

    span {
      font-weight: 600;
    }
  }

  &__statusbar {
    background-color: #4E4B66;
    height: rem(8);
    width: 100%;
    border-radius: rem(20);
    position: relative;

    span {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: rem(20);
      background-color: #6D9FFF;
    }
  }
}