@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.gender {
  margin-bottom: rem(60);

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(23);
  }

  &__item {
    flex: 1 1 auto;
    padding: rem(25) rem(25) rem(30);
    background-color: #1B203D;
    border-radius: rem(20);
  }

  &__title {
    font-size: rem(17);
    line-height: math.div(26, 17);
    color: #FCFCFC;
    margin-bottom: rem(10);

    span {
      font-weight: 600;
    }
  }

  &__statusbar {
    background-color: #4E4B66;
    height: rem(8);
    width: 100%;
    border-radius: rem(20);
    position: relative;

    span {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: rem(20);
    }
  }
}