@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.categories {

  &__container {
    padding-right: 0px !important;
  }

  &__list {
    padding: rem(5) rem(3) rem(15);
    display: flex;
    align-items: center;

    // gap: rem(10);
    li {
      &:not(:last-child) {
        margin-right: rem(10);
      }
    }
  }
}