@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.mainPage {
  margin: rem(25) 0px 0px 0px;
}

.headerPage {
  margin: 0px 0px rem(20) 0px;

  &__container {}
}

.actionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    font-size: rem(13);
    line-height: math.div(20, 13);
    color: #A0A3BD;
  }
}

.listChannel {

  &__container {
    position: relative;
    padding: 0 1.25rem rem(60) !important;
  }

  &__title {
    margin: 0px 0px rem(15) !important;
  }

  &__body {}
}