@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.channel {

  &Profile {
    padding: rem(25) 0px rem(35) 0px;
    margin: 0px 0px rem(25) 0px;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1A1B37;
      border-radius: 0 0 rem(40) rem(40);
    }

    &__container {
      position: relative;
      z-index: 2;
    }

    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: rem(23);
    }

    &__actions {}

    &__backIcon {
      position: absolute;
      top: 0;
      left: rem(20);
      width: rem(30);
      height: rem(30);
      font-size: rem(12);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #4E4B66;
      border-radius: 50%;
    }

    &__badge {
      position: absolute;
      left: 0;
      margin: rem(50) 0px 0px 0px;
    }

    &__image {
      border-radius: 50%;
      overflow: hidden;
      flex: 0 0 rem(93);
      height: rem(93);
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    &__icon {
      font-size: rem(20);
      position: absolute;
      right: rem(20);
    }

    &__content {
      text-align: center;
    }

    &__title {
      font-weight: 600;
      font-size: rem(15);
      line-height: math.div(22, 15);
      margin-bottom: rem(12);
      color: #EFF0F6;
    }

    &__subcribers {
      display: inline-flex;
      align-items: center;
      gap: rem(3);
      font-size: rem(15);
      line-height: math.div(22, 15);
      margin-bottom: rem(12);
      color: #EFF0F7;
    }

    &__text {
      font-size: rem(15);
      line-height: math.div(22, 15);
      color: #A0A3BD;
      margin-bottom: rem(25);
    }

    &__body {
      padding: rem(6);
      background-color: #1B203D;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      border-radius: rem(100);
    }

    &__tabList {
      display: flex;
      align-items: center;
    }

    &__item {
      padding: rem(5) rem(10);
      flex: 1 1 auto;
      border-radius: rem(50);
      color: #A0A3BD;
      font-size: rem(15);
      line-height: math.div(22, 15);
      transition: all 0.3s ease 0s;
      text-align: center;

      &_active {
        background-color: #1954C5;
        color: #FCFCFC;
      }
    }
  }

  &Content {
    margin: 0px 0px rem(40) 0px;

    &_margin {
      margin: 0px 0px rem(30) 0px;
    }
  }

  &Swiper {
    &__container {
      @media (max-width: 768.98px) {
        padding: 0px !important;
      }

      border-bottom: 1px solid #4E4B66;
      margin-bottom: rem(25);

    }

    &Tabs {

      &__list {
        display: flex;
        align-items: center;
        // overflow: auto;
      }

      &__item {
        text-align: center;
        white-space: nowrap;
        padding: 0px rem(28) rem(7);
        font-size: rem(15);
        line-height: math.div(22, 15);
        color: #FCFCFC;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: rem(3);
          background: linear-gradient(114.44deg, #624AF2 0%, #50DDC3 100%);
          opacity: 0;
          transition: opacity 0.3s ease 0s;
          border-radius: 3px 3px 0 0;
        }

        &_active {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}