@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}

.post {
  margin: rem(25) 0px rem(30) 0px;

  &__backIcon {
    width: rem(30);
    height: rem(30);
    font-size: rem(12);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4B66;
    border-radius: 50%;
    margin-bottom: rem(20);
  }

  &__image {
    position: relative;
    // padding-bottom: percent(325, 375);
    border-radius: rem(20);
    overflow: hidden;

    // margin-bottom: ;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: rem(17);
    line-height: math.div(25.5, 17);
    font-weight: 600;
    color: #FCFCFC;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__text {
    color: #FCFCFC;
    font-size: rem(17);
    line-height: math.div(26, 17);

    p {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  &__link {
    font-size: rem(17);
    line-height: math.div(26, 17);
    color: #1954C5;
    margin-top: rem(15);
  }
}