@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

.filterPage {
  margin: rem(25) 0px 0px 0px;

  &__header {
    margin-bottom: rem(20);
  }

  &Form {
    padding: 0px 0px rem(80) 0px;

    &__body {
      padding-bottom: rem(40);

      display: flex;
      gap: rem(20);
      flex-direction: column;

      >* {
        flex: 1 1 auto;
      }
    }

    &__button {
      width: 100%;
    }
  }
}